name: Terraform AWS Deployment

on:
  push:
    branches: [ "main" ]

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      run: terraform init
      env:
        AWS_ACCESS_KEY_ID: AKIA5RTSP5UF6W3HAJ7O
        AWS_SECRET_ACCESS_KEY: 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

    - name: Terraform Plan
      run: terraform plan
      env:
        AWS_ACCESS_KEY_ID: AKIA5RTSP5UF6W3HAJ7O
        AWS_SECRET_ACCESS_KEY: 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

    - name: Terraform Apply
      run: terraform apply -auto-approve
      env:
        AWS_ACCESS_KEY_ID: AKIA5RTSP5UF6W3HAJ7O
        AWS_SECRET_ACCESS_KEY: dl3NXh95jaY+JCFMUCvn9QVfaCPktv8UKkexXaJ
